/* 
    Created on : Jan 25, 2014, 12:16:37 AM
    Author     : Andrew V Butt Sr. Pryme8@gmail.com
*/


.prymeScreenLock{
    position : fixed;
    width : 100%;
    height : 100%;
    min-width : 100%;
    min-height : 100%;
    background-color : #FFF;
    opacity : 0.75;
    background-image: url('img/largeLogo.png');
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 1000001;
    display: none;
}


.prymeSelectBox{
    position: relative;
    font-family : 'arial', sans-serif;
    font-weight : bold;
    font-size : 12px;
    line-height : 1.5em;
    margin-bottom : 1.25em;
    width:120px;
    height: auto;
    display: inline-block;
    pointer-events: auto;
    text-align: left;
    margin-right: 0.5em;
    
  
}


.prymeSelectBox span{
    position: absolute;
    background-color: #fff;
    border : #dadada solid 1px;
    color:#000;
    text-shadow:none;
    overflow:hidden;
    width:100%;
      
}




.prymeSelectBox span:hover, .prymeSelectBox span:active, .prymeSelectBox span:focus{
    border-color : #9ecaed;
    box-shadow : 0 0 5px #9ecaed;
    
}



.prymeSelectBox span:before{
    position: absolute;
    right:0;
    height: 1.5em;
    width: 2em;
    top:0;
    content: '';
    //-webkit-border-radius: 0 2px 2px 0;
    //border-radius: 0 2px 2px 0;
    background-color: #dadada;
    cursor: pointer;
    
    
}

.prymeSelectBox span:after{
        position: absolute;
        content: '';
        width: 0; 
	height: 0; 
        right:0.6em;
        top:0.5em;
	border-left: 0.35em solid transparent;
	border-right: 0.35em solid transparent;
	border-top: 0.5em solid #777;
        pointer-events: none;
}

.prymeSelectBox span:hover:after, .prymeSelectBox span:focus:after{
	border-top: 0.5em solid #fff;
 }
 
 .prymeSelectBox span:active:after{
     border-top: 0.5em solid #000;
 }
 
  
 .prymeSelectBox span div{
    background:#EEE;
    display:none;
    cursor: pointer;
    padding-right: 1.5em;
    
}

.prymeSelectBox span div:hover{
    color:#777;
        
}
   
 .sizeBox span{
     overflow-y:auto;
   
     
 }
 
 .sizeBox span:before, .sizeBox span:after{
     display:none;
     clear:both;
 }
 .sizeBox span div{
     display:block;
     clear:both;
     
 }
 
 .focus span:before{
    position: absolute;
    right:0;
    height: 1.5em;
    width: 2em;
    top:0;
    content: '';
    //-webkit-border-radius: 0 2px 2px 0;
    //border-radius: 0 2px 2px 0;
    background-color: #dadada;
    cursor: pointer;
    
    
}



.focus{
    z-index: +1;
}

.focus span{
    overflow-y:auto;
    
}

 .focus span div{
     display:block;
 }
 
.disable{
     opacity:0.4;
     pointer-events: none;
 }
  
 .prymeSelectBox .selected{
    background:none;
    display:block;
    color: #7BACD2;
    
   }
 
 /* INPUT BOX */
 
 .prymeInputBox {
    border-radius : 0.2em;
    width : 120px;
    height : 1.5em;
    font-size : 12px;
    line-height : 1.5em;
    border : #dadada solid 1px;
    padding : 0.2em;
}
 
.prymeInputBox:focus, .prymeInputBox:hover{
    outline : none;
    border-color : #9ecaed;
    box-shadow : 0 0 5px #9ecaed;
}

 
 
[data-prymetip]{
    	position: relative;
        text-decoration: none;
        font-size: 16px;
        
}

[data-prymetip]:after,
[data-prymetip]:before {
position: absolute;
z-index: 100000001;
opacity: 1;
}

[data-prymetip]:after {
content: attr(data-prymetip);
height: 2em;
line-height: 2em;
padding: 0.2em;
text-align: center;
color: #fff;
background: lightgray;
border-radius: 0.2em;
white-space: nowrap;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
padding-top: 0;
}

[data-prymetip]:before {
content: "";
width: 0;
height: 0;
border-width: 0.5em;
border-style: solid;
}
[data-tips]:hover:after,
[data-tips]:hover:before {
opacity: 1;
}


[data-prymetip].tip-up:after,
[data-prymetip].tip-up:before {
-webkit-transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
-moz-transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
transition: bottom 0.25s ease-in-out, opacity 0.25s ease-in-out;
bottom: 20%;
left: -9999px;
margin-bottom: 1em;
}
[data-prymetip].tip-up:before {
border-color: lightgray transparent transparent transparent;
margin-bottom: 0;
}
[data-prymetip].tip-up:hover:after,
[data-prymetip].tip-up:hover:before {
bottom: 0.75em;
left: 0;
}
[data-prymetip].tip-up:hover:before {
left: 1em;
}

[data-prymetip].tip-down:after,
[data-prymetip].tip-down:before {
-webkit-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
-moz-transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
transition: top 0.25s ease-in-out, opacity 0.25s ease-in-out;
top: 20%;
left: -9999px;
margin-top: 1em;
}
[data-prymetip].tip-down:before {
border-color: transparent transparent lightgray transparent;
margin-top: 0;
}
[data-prymetip].tip-down:hover:after,
[data-prymetip].tip-down:hover:before {
top: 0.75em;
left: 0;
}
[data-prymetip].tip-down:hover:before {
left: 1em;
}

[data-prymetip].tip-right:after,
[data-prymetip].tip-right:before {
-webkit-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
-moz-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
top: -9999px;
left: 80%;
margin-left: 1em;
}
[data-prymetip].tip-right:before {
border-color: transparent lightgray transparent transparent;
margin-left: 0;
}
[data-prymetip].tip-right:hover:after,
[data-prymetip].tip-right:hover:before {
left: 101%;
 top: -0.4em;
}
[data-prymetip].tip-right:hover:after{
    top: -0.4em;
}
[data-prymetip].tip-right:hover:before {
top: 0;
}


[data-prymetip].tip-left:after,
[data-prymetip].tip-left:before {
-webkit-transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
-moz-transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
transition: right 0.25s ease-in-out, opacity 0.25s ease-in-out;
top: -9999px;
right: 80%;
margin-right: 1em;
}
[data-prymetip].tip-left:before {
border-color: transparent transparent transparent lightgray;
margin-right: 0;
}
[data-prymetip].tip-left:hover:after,
[data-prymetip].tip-left:hover:before {
right: 101%;
 top: -0.4em;
}
[data-prymetip].tip-left:hover:after{
    top: -0.4em;
}
[data-prymetip].tip-left:hover:before {
top: 0;
}
